@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-menu {
  @apply rounded-full border border-orange-500 ring-orange-500 p-4  flex justify-center items-center hover:bg-orange-500 duration-100;
}
.footer-icon {
  @apply h-6 w-6;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
